@import "tailwindcss";

@theme inline {
  --font-pretendard: var(--font-pretendard);
  --font-cookierun: var(--font-cookierun);
}

@theme {
  --color-blue: #7392c9;
  --color-red: #ff0000;
  --color-gray-placeholder: #c2c2c2;
  --color-gray-light: #d0d0d0;
  --color-gray-middle: #cfcfcf;
  --color-gray-dark: #828282;
  --color-green-light: #ccfbf1;
  --color-green-middle: #30d1bd;
  --color-green-dark: #0d9488;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
